<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <title>Mercado Liebre - Registro</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="logo">
        </div>
        <form action="get">
            <input type="text" name="busqueda" id="busqueda" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        
       
        <p><span class="fas fa-hand-holding-usd"></span>Compra en cuotas y sin tarjetas de crédito</p>
   
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            
            <ul>
                <li><a href="/register">Creá tu cuenta<span class="far fa-id-card"></span></a></li>
                <li><a href="/login">Ingresa<span class="fas fa-sign-in-alt"></span></a></li>
                <li><a href="#">Mis Compras <span class="fas fa-shopping-basket"></span></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <span class="fas fa-bars"></span>
        </div>
            
    </header>

    <!-- Main -->
    <main>
        <!-- Sección para el formulario -->
        <section>
            <form action="/" class="form_register">
                <input type="email" name="email" id="email" placeholder="E-Mail" pattern=".+@globex\.com" size="30" required>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Enviar" class="button-form">
            </form>
        </section>
    </main>

    <footer>
        <!-- Secciones del Footer -->
        <section>
            <div>
                <span class="fas fa-credit-card"></span>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>

        <section>
            <div>
                <span class="fas fa-gift"></span>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section>
            <div>
                <span class="fas fa-user-shield"></span>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>

        
            <p>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
        
    </footer>
</body>
</html>