@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ebebeb;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EAC926;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

header .logo {
  width: 50%;
  margin-right: 5px;
}

header form {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header form input {
  width: 85%;
}

header form button {
  display: inline-block;
}

header p {
  text-align: center;
  margin: 20px 0 0 0;
  width: 100%;
}

header nav ul {
  display: none;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header .burger-menu {
  text-align: center;
}

header .burger-menu span {
  font-size: 2em;
  color: #fff;
  background-color: #1259c3;
  padding: 10px;
  border-radius: 10px;
}

@media (min-width: 361px) {
  header .logo {
    width: 20%;
  }
  header p {
    width: 43%;
  }
  header form {
    width: 35%;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  header nav ul {
    margin-top: 20px;
    display: block;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .burger-menu {
    display: none;
  }
}

section img {
  width: 100%;
}

main {
  width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section h3 {
  font-size: 24px;
  width: 100%;
}

main section article {
  margin: 10px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main section article .img-article img {
  display: block;
}

main section article .content-article {
  position: relative;
  padding: 15px;
  border-top: 1px solid #ebebeb;
  background: #fff;
}

main section article .content-article span {
  color: #39b54a;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section article .content-article .price {
  font-size: 18px;
}

main section article .content-article .discount {
  font-size: 16px;
  color: #39b54a;
}

main section article .content-article h4 {
  display: none;
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  color: #666;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media (min-width: 361px) {
  main section article .content-article h4 {
    display: block;
    color: transparent;
  }
  main section article:hover {
    -webkit-box-shadow: 0px 0px 10px #646464;
            box-shadow: 0px 0px 10px #646464;
  }
  main section article span {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  main section article:hover span {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

main section article:hover .content-article h4 {
  color: #666;
}

@media (min-width: 361px) {
  main section article {
    width: 48%;
  }
}

@media (min-width: 769px) {
  main section article {
    width: 23%;
  }
}

footer {
  background: white;
  margin-top: 40px;
}

footer section {
  margin: auto;
  padding-top: 50px;
  text-align: center;
  width: 70%;
  margin-bottom: 30px;
}

footer section h3 {
  font-size: 16px;
}

footer section p {
  font-size: 12px;
}

footer section div span {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

footer p {
  font-size: 12px;
}

@media (min-width: 361px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer p {
    width: 100%;
    margin: 10px 0;
  }
  footer section {
    width: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */